{% extends "base_auth.html" %}

{% block auth_content %}
    <div class="form-container sign-up-container">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <h1>Создать аккаунт</h1>
            <input type="text" name="first_name" placeholder="Имя" required />
            <input type="email" name="email" placeholder="Email" required />
            <input type="password" name="password1" placeholder="Пароль" required />
            <input type="password" name="password2" placeholder="Повтор пароля" required />
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>

    <div class="form-container sign-in-container">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h1>Войти</h1>
            <input type="text" name="username" placeholder="Email" required />
            <input type="password" name="password" placeholder="Пароль" required />
            <a href="{% url 'password_reset' %}" class="forgot-pass">Забыли пароль?</a>
            <button type="submit">Войти</button>
        </form>
    </div>
{% endblock %}