<div class="card mb-4 border-0 bg-light p-4 rounded-4 shadow-sm htmx-fade-in" id="day-block-{{ day_num }}">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="fw-bold mb-0 text-uppercase">{{ day_label }}</h5>
    </div>

    <div class="exercise-list" id="exercise-list-{{ day_num }}"></div>

    <button type="button"
            class="btn btn-link text-dark fw-bold text-decoration-none p-0 mt-2 open-gallery-btn"
            data-bs-toggle="modal"
            data-bs-target="#exerciseGallery"
            data-day="{{ day_num }}">
        <i class="bi bi-plus-circle-fill me-2"></i>Добавить упражнение
    </button>
</div>