{% extends "base_public.html" %}
{% load static %}

{% block title %}Добро пожаловать | FITAPP{% endblock %}

{% block content %}
<div class="welcome-wrapper">
    <div class="container text-center">
        <main class="content-box">
            <h1 class="main-title mb-4">
                ТВОЕ ТЕЛО <br><span class="outline-text">ТВОИ ПРАВИЛА</span>
            </h1>
            <p class="subtitle mx-auto" style="max-width: 700px;">
                Отслеживай тренировки, контролируй прогресс и достигай новых высот вместе с FITAPP.
            </p>
            <div class="d-flex justify-content-center gap-3 buttons-group">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="btn-main-dark">Перейти в профиль</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn-main-dark">Начать заниматься</a>
                {% endif %}
            </div>
        </main>
    </div>
</div>
{% endblock %}